<style>
.filter-btn {
  background: none;
  background-color: #16161d;
  box-shadow: inset -3px -3px rgb(0 0 0 / 10%);
  color: #fff;
  display: block;
  margin-bottom: 1rem;
  padding: 15px;
  transition: background 0.2s;
}
.filter-btn:hover {
  background-color: #16161dbd;
}
.tags {
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: all .3s ease-in;
  transition-property: max-height, border-top, border-bottom;
}
</style>

{% paginate collection.products by section.settings.pagination_limit %}
  <div class="sixteen columns breadcrumb clearfix">
    <div class="eight columns breadcrumb_text alpha">
      {% if section.settings.collection_breadcrumb %}
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        &nbsp; / &nbsp;
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>
        {% if current_tags %}
          {% for tag in current_tags %}
            &nbsp; / &nbsp;
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
          {% endfor %}
        {% endif %}

        {% if paginate.pages != 0 %}
          &nbsp; / &nbsp; {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
    </div>

    {% if collection.handle != blank and collection.products_count > 0 %}
      <div class="eight columns section_select omega {% if section.settings.collection_breadcrumb == false %}offset-by-eight{% endif %}">
        {% if section.settings.collection_tags %}
          <div class="filter_wrap">
            {% for tag in collection.all_tags %}
              {% if forloop.first %}
                <label for="tag_filter" class="inline">{{ 'collections.sorting.filter' | t }}: </label>
                <select name="tag_filter" id="tag_filter">
                  <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
              {% endunless %}

              {% if forloop.last %}
                </select>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if section.settings.collection_sort %}
          <div class="filter_wrap">
            <label for="sort-by" class="inline">{{ 'collections.sorting.title' | t }}: </label>
            <select class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  {% if sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    {% if section.settings.display_collection_title %}
      <h1>{{ collection.title }}</h1>
    {% endif %}
      
    {% if collection.title == 'Pendleton' %}
      <div class="collection_info_wrapper">
        <div class="collection_description">
          {{ collection.description }}
        </div>

        <div class="collection_signup">
          <p class="message">Signup and be the among the first to<br />know about new Pendleton releases.</p>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="//gunthers.us16.list-manage.com/subscribe/post?u=35bfa6f7add1b5b016f8d9329&amp;id=bf39566b30" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding: 0;" novalidate>
              <div id="mc_embed_signup_scroll">

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="width: 58%;" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_35bfa6f7add1b5b016f8d9329_bf39566b30" tabindex="-1" value=""></div>
              <div class="signup-submit"><input type="submit" value="Notify Me" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #fc4c02; color: #ffffff; width: 58%;"></div>
              </div>
          </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    {% else %}
      
      {% if collection.description != blank %}
        <div class="section clearfix collection_description">
          {{ collection.description }}
        </div>
      {% endif %}
      
    {% endif %}

      {% if template == 'collection' and settings.show_inline_tags %}
        <div class="accordian">
          <button class="filter-btn">Filter <span>+</span></button>
            <div class="tags">
              {% include 'tags-collection' %}  
            </div>        
        </div>
      {% endif %}

    {% if collection.products.size == 0 %}
      <div class="section clearfix">
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'product-loop', sidebar: sidebar %}
    {% endif %}

    {% include 'pagination', sidebar: sidebar %}
  </div>
{% endpaginate %}

{% schema %}

{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Products per row",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "pagination_limit",
      "label": "Products per page",
      "options": [
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "48",
          "label": "48"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
<script> 
  var accordianActions = document.querySelector('.filter-btn');
  accordianActions.addEventListener('click', function() {
    const accordianContent = accordianActions.nextElementSibling;
    accordianActions.classList.toggle('filter-btn--active');
      if(accordianActions.classList.contains('filter-btn--active')) {
        accordianContent.style.maxHeight = accordianContent.scrollHeight + 'px';
        accordianContent.style.borderTop = '1px solid #e2e2e2';
        accordianContent.style.borderBottom = '1px solid #e2e2e2';
        accordianActions.innerHTML = 'Filter <span>-</span>';
      } else {
        accordianContent.style.maxHeight = 0;
        accordianContent.style.borderTop = '1px solid #fff';
        accordianContent.style.borderBottom = '1px solid #fff';
        accordianActions.innerHTML = 'Filter <span>+</span>';
      }
    })
</script> 